*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
    text-align: center;
}

body{
    background-color: #284561;
}

header{
    height: 3rem;
    margin-bottom: 5rem;
}

.header{
    display: flex;
}

header img{
    width: 6rem;
    margin-left: 2rem;
}

.navegacao{
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
}

a:hover{
    color: #cfcbcb;
    text-decoration:underline;
}

h1{
    color: #fff;
    
}

.centro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    color: white;
    text-align: center;
    display: flex;
}

.centro button{
    background: #41819e00;
    border-radius: 2rem;
    color: #fff;
    width: 2rem;
    height: 4rem;
    border: none;
    margin-top: 24rem;
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.centro button:hover{
    
    border-radius: 2rem;
    color: #2a6d8c;
    cursor: pointer;
}

.conteudo{
    background: #365674;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    height: 60rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.conteudo p{
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 6rem;
    text-align: left;
}

.conteudo img{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 14rem;
    height: 20rem;
}


@media(min-width: 1110px) {
header{
    height: 5rem;
    margin-bottom: 5rem;
}

.header{
    display: flex;
}

header img{
    width: 8rem;
    margin-left: 2rem;
}

.navegacao{
    margin-top: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #fff;
    margin-right: 8rem;
    font-size: 1.6rem;
}

a:hover{
    color: #cfcbcb;
    text-decoration:underline;
}

h1{
    color: #fff;
}

.centro{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
}

.centro button{
    background: #41819e00;
    border-radius: 2rem;
    color: #fff;
    width: 8rem;
    height: 10rem;
    border: none;
    margin-top: 10rem;
    font-family: "DM Sans", sans-serif;
    font-size: 8rem;
    margin-left: auto;
    margin-right: auto;
}

.centro button:hover{
    
    border-radius: 2rem;
    color: #2a6d8c;
    cursor: pointer;
}

.conteudo{
    background: #365674;
    margin-left: auto;
    margin-right: auto;
    width: 82rem;
    height: 32rem;
    display: flex;
    border-radius: 2rem;
}

.conteudo p{
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-align: left;
}

.conteudo img{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.esquerda{
    margin-left: 5rem;
    margin-right: 1.5rem;
}
}